body{
	height: 200vh;
}

.banner-second {
	font-family: arial;
	color: purple;
	width: 60vw;
	margin: 200px auto;
	display:flex;
	height: 30vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	justify-content: center;
	align-items : center;
	border-radius: 20px;	
}